@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    
@* Media Player *@
<dir class="text-center align-middle">
    <form method="POST">
        <input type="submit" value="Pause"/>
    </form>

    <form action="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Queue Youtube</label>
            <input type="email" class="form-control" id="ytInput" aria-describedby="ytInput" placeholder="Enter Youtube Link">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</dir>


@* YouTube Input *@