@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    @* You can keep adding these as they are required *@
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="settings.password">Login Password:</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" asp-for="settings.password" value="@ProgramSettings.loginPassword"/>
        </div>
    </div><br>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="settings.mediaDirectory">Media Directory:</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" asp-for="settings.mediaDirectory" value="@ProgramSettings.mediaDirectory"/>
        </div>
    </div><br>

    <div class="form-group row">
        <div class="col-3">
            <label asp-for="settings.broadcastFrequency">Broadcast Frequency:</label>
        </div>
        <div class="col-5">
            <input type="number" step=0.01 class="form-control" asp-for="settings.broadcastFrequency" value="@ProgramSettings.broadcastFrequency"/>
        </div>
    </div><br>

    <div class="form-group row">
        <div class="col-3">
            <input type="submit" class="btn btn-primary" value="Save All">
        </div>
    </div>
</form>