@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-access-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-access" type="button" role="tab" aria-controls="v-pills-access"
                aria-selected="true">Accounts And Access</button>
            <button class="nav-link" id="v-pills-output-tab" data-bs-toggle="pill" data-bs-target="#v-pills-output"
                type="button" role="tab" aria-controls="v-pills-output" aria-selected="false">Output</button>
            <button class="nav-link" id="v-pills-browser-tab" data-bs-toggle="pill" data-bs-target="#v-pills-browser"
                type="button" role="tab" aria-controls="v-pills-browser" aria-selected="false">Folder Browser</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
            <input class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                type="submit" role="tab" aria-controls="v-pills-settings" aria-selected="true" value="Save All"/>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-access" role="tabpanel"
                aria-labelledby="v-pills-access-tab">
                @* Tab Panel for Accounts And Access*@

                @* End of Accounts And Access Tab Panel*@
            </div>
            <div class="tab-pane fade" id="v-pills-output" role="tabpanel" aria-labelledby="v-pills-output-tab">
                @* Tab Panel for Output *@
                @* You can keep adding these as they are required *@
                <h3>Video Mode Options</h3>
                @foreach (var mode in Model.videoModes)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="videoMode" id="videoMode" asp-for="videoMode" value="@mode">
                        <label class="form-check-label" for="inlineRadio1">@mode</label>
                    </div>
                }
                @* End of Output Tab Panel*@
            </div>
            <div class="tab-pane fade" id="v-pills-browser" role="tabpanel" aria-labelledby="v-pills-browser-tab">
                @* Tab Panel for *@

                @* End of Tab Panel*@
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                @* Tab Panel for *@

                @* End of Tab Panel*@
            </div>
        </div>
    </div>
</form>